<div class="wrapper">
  <h3 class="mb-3 d-flex justify-content-center">Edit : <%= @collection.name %></h3>
  <%= simple_form_for @collection do |f| %>
    <%= f.input :name %>
    <%# <%= f.input :description %>
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
    <%= link_to collection_path(@collection) do %>
      <button class="btn btn-warning">
        Cancel
      </button>
    <% end %>
  <% end %>
  <br />
  <%# <%= link_to "My ingredients list", user_ingredients_path%>
</div>
