<div class="wrapper">
  <h3 class="mb-2">Your ingredient list</h3>
  <%= link_to 'add new ingredient(s)', ingredients_path %>
  <% @user_ingredients.each do |user_ingredient| %>
    <li><%= user_ingredient.ingredient.name %>
      <%= link_to 'remove', delete_user_ingredient_path(user_ingredient), data: {turbo_method: :delete}%>
    </li>
  <% end %>
</ul>
<%#= link_to "Find recipes", recipes_path %>
<%= link_to 'What can I cook with my fridge?', recipes_path(:fridge => @ingredients_name)%>
<br>
<%= link_to "back" , :back, class:"btn-primary" %>
</div>
