<div class="wrapper">
  <h1 class="title">New recipe</h1>
  <%= simple_form_for @user_recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :servings %>
    <%= f.input :cooking_time %>
    <%= f.input :ingredients %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  <% end %>
  <br />
  <%= link_to "My recipes", user_recipes_path %>
</div>
