<div class="wrapper">
  <h3 class="mb-3 d-flex justify-content-center">New recipe</h3>

  <%= simple_form_for @user_recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :servings %>
    <%= f.input :cooking_time %>
    <%= f.input :ingredients %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  <% end %>
</div>
