<h3>Recipe details</h3>

<p>
<%= @recipe.name %>
<br>
<%= @recipe.servings %>
<br>
<%= @recipe.cooking_time %>
<br>
<%= @recipe.instructions %>
<br>
<%= @recipe.ingredients %>
</p>
<%= link_to 'back', :back %>
