<div class="wrapper">
  <h3 class="mb-3 d-flex justify-content-center">Edit : <%= @recipe.name %></h3>
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :servings %>
    <%= f.input :cooking_time %>
    <%= f.input :ingredients %>
    <%= f.input :image, as: :file, input_html: { value: @recipe.image} %>
    <div class="d-flex align-items-center gap-2">
      <%= f.button :submit, "Update", class: "btn-save" %>
    </div>
  <% end %>
</div>
