<div class="wrapper">
  <h3 class="mb-3 d-flex justify-content-center">New recipe</h3>
  <hr>
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :instructions %>
    <%= f.input :servings %>
    <%= f.input :cooking_time %>
    <%= f.input :ingredients %>
    <%= f.input :image, as: :file %>
    <div class="d-flex align-items-center gap-2">
      <%= f.button :submit, "Create", class: "btn-save" %>
      <%= link_to "Cancel", collections_path(@user_recipe), class: "btn-cancel" %>
    </div>
  <% end %>
</div>
