<%= render 'shared/show-recipe', recipe: @recipe %>
<div class="modal boder-2 fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog rounded">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">ADD TO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%# Checkbox %>
        <%# <%= form_with model: [@recipe, @user_recipe], url: recipe_user_recipes_path(@recipe), method: :post, data: { controller: 'checkbox-select-all' } do |f| %>
          <%= simple_form_for [@recipe, @user_recipe], data: { controller: 'checkbox-select-all' } do |f| %>
            <%# <label>
              <input type="checkbox" data-checkbox-select-all-target="checkboxAll" />
              <span>Select All / Deselect All</span>
            </label><br> %>
            <%= f.collection_check_boxes :collection_ids, Collection.all, :id, :name do |b| %>
              <%= b.label do %>
                <%= b.check_box data: { checkbox_select_all_targer: "checkbox"} %>
                <%= b.text %>
              <% end %> <br>
            <% end %>
            <div class="modal-footer">
              <%= f.submit "Confirm", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# <%= link_to 'back', root_path %>
