<%= render 'shared/show-recipe', recipe: @recipe %>
<div class="modal boder-2 fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog rounded">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">ADD TO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@recipe, @user_recipe], data: { controller: 'checkbox-select-all' } do |f| %>
          <%# <label>
              <input type="checkbox" data-checkbox-select-all-target="checkboxAll" />
              <span>Select All / Deselect All</span>
            </label><br> %>
          <%= f.collection_check_boxes :collection_ids, Collection.where(user: current_user), :id, :name do |b| %>
            <div class="fs-3 mb-2">
              <%= b.label do %>
                <%= b.check_box data: { checkbox_select_all_target: "checkbox"}, class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <div class="modal-footer">
            <%= f.submit "Confirm", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# <%= link_to 'back', root_path %>
