<div class="show-page">
  <%# image tag with cloudinary %>
  <div class="image-container">
    <%= cl_image_tag recipe.image.key, height: 300, width: 400, crop: :fill, class: "recipe-image" %>
    <button class="btn addcookbook" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add to my cookbook
    </button>
  </div>
  <div class="wrapper mt-3">
    <div class="">
      <h3 class=""><%= recipe.name %></h3>
      <hr>
      <div class="d-flex justify-content-between fw-bold">
        <p>servings</p>
        <p><%= recipe.servings %></p>
      </div>
      <div class="d-flex justify-content-between fw-bold">
        <p>cooking time</p>
        <p><%= recipe.cooking_time %> min</p>
      </div>
      <hr>
      <div class="">
        <p class="fw-bold">ingredients</p>
        <% recipe.ingredients.split(',').sort.each do |ingredient| %>
          <span class="badge bg-secondary fs-4 mb-1"><%= ingredient %>
          </span></h4>
      <% end %>
    </div>
    <hr>
    <div class="mt-3">
      <p class="fs-4 fw-bold">instructions</p>
      <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <p class="text-start my-content" data-read-more-target="content"><%= recipe.instructions %></p>
        <button class="read" data-action="read-more#toggle">Read more</button>
      </div>
    </div>
  </div>
</div>
</div>
