<h3>Ingredients</h3>
<br>
<%= render "shared/search" %>
<em> Implement cards with ingredients seprated in categories from our DB </em>

<%= raise %>
<% @vegetables.each do |vegetable|%>
  <%= vegetable.name %>
<% end %>

<%@fruits.each do |fruit|%>
  <%= fruit.name %>
<% end %>

<%@starch.each do |starch|%>
  <%= frustarchit.name %>
<% end %>

<%@legumes.each do |legume|%>
  <%= legume.name %>
<% end %>

<%@flour.each do |flour|%>
  <%= flour.name %>
<% end %>

<%@mushrooms.each do |mushroom|%>
  <%= mushroom.name %>
<% end %>

<%@spices.each do |spice| %>
  <%= spice.name %>
<% end %>
